<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Saugat Poudel's Portfolio</title>
</head>
<body>
    <section id="resume">
        <div class="resume-container">
            <h2>Saugat Poudel</h2>
            <p>Auburn, NSW 2144<br>Unit 10 /9-11 Station Road<br>0450112303<br>saugatp363@gmail.com</p>
            
            <h3>Profile</h3>
            <p>
                Dedicated and skilled waiter with experience in delivering exceptional service in various upscale dining establishments. Can easily handle the Eftpos machine or cashiers. Better Knowledge of working on fast-paced environments. Results-driven excels in hospitality with using solid skills and past experience. Trustworthy and dedicated to exceptional performance and quality standards.
            </p>

            <h3>Employment History</h3>
            
            <h4>Section Waiter and Bartender, Australian Cruise Group Pty Ltd, King Street, Sydney</h4>
            <p>Feb 2022 – Jul 2023</p>
            <ul>
                <li>Preparing tavern bar areas for guest service and use.</li>
                <li>Ensuring that the assigned bar area is fully equipped with tools and products needed for mixing.</li>
                <li>Arranging bottles and glasses to make attractive displays.</li>
                <li>Provide attentive and personalized service, enhancing their dining experience.</li>
                <li>Greeting, serving, and farewelling guests in a friendly and helpful manner.</li>
                <li>Serving guests Beer, Wine, and Spirits in accordance with venue guest service guidelines and policies.</li>
                <li>Addressed customer inquiries and concerns with patience and professionalism, resolving issues to the guest's satisfaction.</li>
            </ul>

            <h4>Food And Beverage Runner, Cargo Bar, Sydney</h4>
            <p>Feb 2022 – Jan 2023</p>
            <ul>
                <li>Recording food and drink orders and works to meet customer requests.</li>
                <li>Handling food with sanitation and safety in mind.</li>
                <li>Clear tables of used glassware and empty dishes, maintaining a neat and tidy bar environment.</li>
                <li>Remaining punctual and professional at all times.</li>
                <li>Serving guests in a grand ballroom with the capacity of 2000 people dining at one time.</li>
                <li>Communicate effectively with servers and bartenders to facilitate smooth service flow.</li>
            </ul>

            <h4>Bartender, The Meat and Wine Co.</h4>
            <p>February 2023 — Dec 2023</p>
            <ul>
                <li>Proficient in crafting a variety of cocktails and beverages with precision and creativity.</li>
                <li>Provided exceptional customer service by greeting guests, taking orders, and ensuring a positive and enjoyable experience.</li>
                <li>Offered knowledgeable and personalized drink recommendations based on individual preferences.</li>
                <li>Demonstrated efficiency in serving drinks promptly during peak business hours.</li>
                <li>Managed cash transactions accurately and processed payments efficiently.</li>
                <li>Successfully balanced multiple tasks, such as taking orders, preparing drinks, and handling customer inquiries.</li>
                <li>Applied upselling techniques to suggest additional items and increase overall sales.</li>
                <li>Worked collaboratively with kitchen staff, servers, and other team members to ensure smooth operations.</li>
                <li>Adapted quickly to changing customer preferences and varying levels of business.</li>
            </ul>

            <h3>Education</h3>
            <p>Bachelor of Software Engineering, Torrens University Australia (May 2022 - Currently Studying)</p>

            <h3>Skills</h3>
            <ul>
                <li>Multitasking Skills</li>
                <li>Leadership Skills</li>
                <li>Excellent Communication Skills</li>
                <li>Problem Solving Skills</li>
                <li>Safety Minded</li>
                <li>Punctual</li>
                <li>Customer Service Skills</li>
                <li>Food Safety and Sanitation</li>
            </ul>

            <h3>RSA Competency Card</h3>
            <p>Expired 2027</p>

            <p>Available full-time until Feb 18, shifting to 24 hours/week afterward. Flexible to work all 7 days, open to Food and Beverage, Bartender, food runner, Bar Attendant roles.</p>
        </div>
    </section>
</body>
</html>
